.row {
	padding: 10px;
}

.messageBox {
	color: red;
	text-transform: uppercase;
	border: 1px solid #DDD;
	padding: 10px;
	border-radius: 4px;
}

.snack {
	background-color: orange;
	color: #fff;
	font-size: 24px;
	margin: 5px auto;
	height: 105px;
	border-radius: 4px;

}