<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<!-- Latest bootstrap compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link rel="stylesheet" href="styles/vending.css">

		<script src="scripts/vending.js"></script>
		<script>
			angular.element(document).ready(function() {
	      angular.bootstrap(document, ['vend']);
	    });
		</script>
	</head>
	<body>
		<div class="container-fluid" ng-controller="VendingMachineCtrl">

			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>ds vend</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title text-center">Your wallet</h3>
					  </div>
					  <div class="panel-body">
					    <p><strong>Your wallet is full of coins</strong> - pennies, nickels, dimes, quarters, and even those dollars you get from toll plazas!</p>

					    <div class="row">
					    	<div class="col-sm-4 text-center">
					    		<button class="btn btn-default" ng-click="insertCoin(penny)">Add penny</button>
					    	</div>
					    	<div class="col-sm-4 text-center">
					    		<button class="btn btn-default" ng-click="insertCoin(nickel)">Add nickel</button>
					    	</div>
					    	<div class="col-sm-4 text-center">
					    		<button class="btn btn-default" ng-click="insertCoin(dime)">Add dime</button>
					    	</div>
					    </div>
					    <div class="row">
					    	<div class="col-sm-4 text-center">
					    		<button class="btn btn-default" ng-click="insertCoin(quarter)">Add quarter</button>
					    	</div>
					    	<div class="col-sm-4 text-center">
					    		<button class="btn btn-default" ng-click="insertCoin(dollar)">Add dollar</button>
					    	</div>
					    	<div class="col-sm-4 text-center">
					    		
					    	</div>
					    </div>

					  </div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title text-center">The Vending Machine</h3>
					  </div>
					  <div class="panel-body">

					    <div class="row">
					    	<div class="col-sm-12">
					    		<div class="messageBox">{{displayMessage}}</div>
					    	</div>
					    </div>

					    <div class="row">
					    	<div class="col-sm-4 text-center" ng-repeat="product in products">
					    		<div class="snack">
					    			{{product.name}}<br/>{{dollarFormat(product.cost)}}
					    		</div>
					    		<button class="btn btn-sm btn-success" ng-click="selectProduct(product.name)">SELECT</button>
					    	</div>
					    	
					    </div>

					    <div class="row">
					    	<div class="col-sm-8">
					    		<div class="text-right">
					    			<button class="btn btn-default" ng-click="coinReturn()">Return coins</button>
					    			<button class="btn btn-default" ng-click="takeChange()">Take change</button>
					    		</div>
					    	</div>
					    	<div class="col-sm-4">
					    		<div class="panel panel-default coinReturn">
					    			<h4 class="text-center">Coin Return</h4>
					    			<table class="table">
					    				<tr>
					    					<td>dollars:</td>
					    					<td>{{aggReturnedCoins.dollar}}</td>
					    				</tr>
					    				<tr>
					    					<td>quarters:</td>
					    					<td>{{aggReturnedCoins.quarter}}</td>
					    				</tr>
					    				<tr>
					    					<td>dimes:</td>
					    					<td>{{aggReturnedCoins.dime}}</td>
					    				</tr>
					    				<tr>
					    					<td>nickels:</td>
					    					<td>{{aggReturnedCoins.nickel}}</td>
					    				</tr>
					    				<tr>
					    					<td>pennies:</td>
					    					<td>{{aggReturnedCoins.penny}}</td>
					    				</tr>
					    			</table>
					    		</div>
					    	</div>
					    </div>


					  </div>
					</div>
				</div>
			</div>

		<div class="container-fluid">

	</body>
</html>